

form{

    text-align: center;
    background-color: aquamarine;
    width:100%vw;
    height:50%;
    display:block;
    
}

.formal{
    
    padding:20px;
    display: inline-block
}

#alignment{
    height:50px;
    vertical-align: middle;
}

.button{

    background-color: burlywood;
}